.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #343a46;
  min-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: 0vh 5vw;
  margin-bottom: 0;
}

h1 {
  font-size: calc(15px + 2vmin);
  font-family:'Stencil', Arial, Helvetica, sans-serif;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 30vw;
  font-size: calc(5px + 2vmin);
}

ul li {
  margin-right: calc(15px + 2vmin);
}

.carros {
  border-bottom: solid red 4px;
  border-radius: 4px;
}

header ul li:hover{
  color: rgb(255, 0, 0);
  transition: all 0.5s ease-in;
}

header button{
  display: flex;
  flex-direction: row;
}

button img{
  height: 3vh;
  margin-left: 0.5vw;
}

.fundo{
  background-image: url(./img/banner_img.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.banner{
  height: 60vh;
  background-color: #343a469a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  word-spacing: 5px;
}

.disponiveis{
  font-size:  calc(12px + 2vmin);
  color: #343a46;
}

.pesquisa {
  display: flex;
  padding: calc(15px + 2vmin);
  align-items: center;
  justify-content: flex-end;
}

input {
  border-radius: 2vh;
  height: calc(3vh + 2vmin);
  width: calc(25vw + 2vmin);
  margin-left: calc(7px + 2vmin);
  padding-left: 10px;
}

.produtos{
  margin-top: calc(5px + 2vmin);
  width: 100vw;
}

.linha {
  margin-bottom: calc(8vh + 5vmin);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.produto {
  padding: calc(4px + 2vmin);
  width: 25vw;

  border-radius: 2vh;
  box-shadow: gray 2px 2px 4px 4px;
}

.preco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.produtos img {
  height: 150px;
  width: 200px;
}

h2 {
  font-size: calc(6px + 2vmin);
  text-align: left;
  margin-bottom: calc(1px + 2vmin);
}

.produto p {
  text-align: left;
  font-size: calc(3px + 2vmin);
}

button {
  border-radius: 50%;
  background-color: rgb(233, 169, 169);
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  padding: calc(1vh + 1vmin);
  box-shadow: rgb(121, 91, 91) 2px 2px;
}

button:hover {
  background-color: rgb(255, 0, 0);
  color: #fff;
  box-shadow: #000;
  transition: all 0.5s ease-in;
}

.footer{
  margin-top: calc(20px + 2vmin);
  background-color: rgb(201, 201, 201);
  height: 10vh;
  width: 100vw;
  padding: calc(20px + 2vmin);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.contato, .sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(30vw + 2vmin);
  margin: calc(20px + 2vmin);
}

.contato ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

 

li img {
  height: calc(5vh + 2vmin);
}
